.my_button{
    color: black;
    border-color: rgb(2, 165, 2);
    width: 322px;
    
}

.my_button:hover {
    background-color: #343a40;
    color: white;
    border-color: #343a40;
}

.my_input {
    border: none; 
    border:solid 1px black;
    border-radius: 5px;
    border-color: #343a40;
    padding:9px 9px;
    padding-top: 5px;
    line-height:10%;
}


#textarea{

    border: 1px solid rgb(0, 0, 0);
    border-radius: 7px;
    width: 90%;
    resize: none;
    height: 40px;
    padding: 5px;
    max-height: 200px;
    scrollbar-track-color: #24c1ff;
    cursor: auto;

    margin-right: 15px; 

}

#textarea:focus{
    outline: none !important;
    border-radius: 7px;
    width: 90%;

}

::-webkit-scrollbar-track
{

	border-radius: 10px;

}

::-webkit-scrollbar
{
	width: 12px;
    background-color: #e6e6e6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;

	background-color: rgb(126, 126, 126);
}